.contact {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(82, 36, 23, 0.548), rgba(90, 16, 16, 0.459) 80%, rgba(0, 0, 0, 0.733), rgb(0, 0, 0)),
        url('../../images/hero-img/heroimg_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 80rem;

    // min-height: 700px;
    &_mainbox {
        height: 92%;
        // background-color: #fff;
    }

    &_card-wrapper {

        height: 45rem;
        color: white;
        margin-bottom: 2.5rem;

    }

    &_card {
        padding: 1rem 2rem;
        border: solid 1px white;
        width: 25rem;
        outline: solid 1px;
        outline-offset: 3rem;
        background: rgba(0, 0, 0, 0.356);

        &-info {
            margin-bottom: 3rem;


            .phonenumber {
                display: inline-block;
            }

            .mail {
                display: block;
            }
        }

        &:nth-of-type(1) {
            text-align: right;
            align-self: flex-start;
            margin-right: 10rem;

            .contact_card-info {
                display: flex;
                justify-content: space-between;
            }
        }

        &:nth-of-type(2) {
            align-self: flex-end;
            margin-bottom: 6rem;
        }

        &-image {
            width: 8rem;
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 2rem;
        }
    }

    .popup {
        background: white;
        width: 80rem;
        height: 60rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
        visibility: hidden;
        opacity: 0;

    }
        /// POP-UP FORM ////////////////////////////
    .form {
        width: 65%;
        padding: 8rem;

        &-section{
            position: relative;
            margin: 3rem 0;
        }

        &_heading {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 4rem;
        }

        input {
            position: relative;
            display: block;
            padding: 1rem 2rem;
            width: 100%;
            font-size: 1.6rem;
            font-style: italic;

            &:focus {
                outline: none;
            }

            &[type="email"] {
                border: black 1px solid;
            }

            &[type="email"]:focus:invalid {
                border-bottom: red solid 2px;
            }

            &[type="email"]:focus:valid {
                border-bottom: green solid 2px;
            } 

            &[type="email"]:focus + label[for="email"]{
                top: -3rem;
                opacity: 1;
                visibility: visible;
            }
        }

        label[for="email"]{
            display: block;
            position: absolute;
            font-style: italic;
            padding-left: 1rem;
            top:0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s ease-in, top .2s ease-in;
        }

        &_message{
            width: 100%;
            height: 20rem;
            font-family: sans-serif;
            font-style: italic;
            padding: 1rem;
            resize: none;
        }

        .buttons{
            display: flex;
            justify-content: space-between;
        }
    }

    .form_image {
        width: 35%;
        height: 100%;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    .form_container {
        height: 100%;
    }
}